<html>
    <head>

    </head>
    <body>
        <h1>This is the meds page</h1>
        <form action="/meds/edit/{{med.id}}" method="post">
            <input type="text" name="name" value="{{med.name}}" placeholder="Name"/>
            <input type="text" name="count" value="{{med.count}}" placeholder="Count"/>
            <input type="text" name="brand" value="{{med.brand}}" placeholder="Brand"/>

            <button type="submit">Save</button>
        </form>
    </body>
</html>